@page "/"
@using BlazorServerGridTestApp6.Components

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<MyButton ButtonText="這是客製化的按鈕"></MyButton>

<MyButton2 ButtonText="我是第二個按鈕"></MyButton2>
